<!DOCTYPE html>
<html>
<head>
	<title>XDWorldEM</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css"> 
	<style>
		
	</style>
	
</head>

<body>
		
	<div id="map"></div>
	<div id="pop-up" onmouseover="Module.XDIsMouseOverDiv(true);" onmouseout="Module.XDIsMouseOverDiv(false);">
		<button onclick="createPoiPopup()">POI</button>
		<button onclick="createLinePopup()">LINE</button>
		<button onclick="createPolyPopup()">POLYGON</button>
		<br/><br/>
		
<!-- poi -->
		<div id="poi-wrap">
		장소명 입력 후, 생성버튼을 클릭하세요.
			<input type="text" id="TX_Text" placeholder="장소명을 입력하세요.">
			<button onclick="Module.XDSetMouseState(21);">생성</button><br/><br/>
			<button onclick="removeAllPoi()">전체삭제</button><br/>
			[Poi Object List]
			<div id="DV_ObjectListWrap">
				<ul id="UL_ObjectList"></ul>
			</div>
			Poi Object Count
			<input type="text" id="TX_ObjectCount" class="TX_Option" value="0"><br/>
		</div><!-- poi-wrap -->
		
		
		<!-- PolyLine -->
		<div id="line-wrap" style="display:none;">
			[Object Property]<br/>
			<ul>
				<li>
					Line Color
					(A <input type="text" id="lineColorA" value="255" style="width:25px">|
					R <input type="text" id="lineColorR" value="255" style="width:25px">| 
					G <input type="text" id="lineColorG" value="255" style="width:25px">| 
					B <input type="text" id="lineColorB" value="255" style="width:25px">)<br/>
				</li>
				<li>
					Line Width <input type="text" id="inputLineWidth" value="5.0" style="width:25px">
				</li>
			</ul>
		
			점을 찍은 후 버튼을 클릭하세요. <br/>
			<input type="button" value="Create PolyLine" onclick="createPolyLine();"><br/><br/>
			<button onclick="removeAllPolyLine()">전체삭제</button><br/>
		</div>
		
		
		<!-- Polygon -->
		<div id="poly-wrap" style="display:none;">
			3개 이상의 점을 찍은 후 버튼을 클릭하세요. <br/>
			<input type="button" value="Create Polygon" onclick="createPolygon();"><br/><br/>
			<button onclick="removeAllPolygon()">전체삭제</button><br/>
		</div>
	
	</div><!-- pop-up -->
	
	<!-- poi상세정보 -->
	<div id="poi-properties" onmouseover="Module.XDIsMouseOverDiv(true);" onmouseout="Module.XDIsMouseOverDiv(false);">
		[]Object Properties]<br/>
			<table>
				<tr>
					<th>Option</th>
					<th colspan='2'>Value</th>
				</tr>
				<tr>
					<td>Key</td>
					<td colspan="2"><input type="text" id="TX_ObjectKey" style="width:218px;text-align:center;"></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" id="TX_ObjectName" style="width:159px;text-align:center;"></td>
					<td><input type="button" value="Set" style="width:55px;" onClick="setObjectProperties('name')"></td>
				</tr>
				<tr>
					<td>Visible</td>
					<td><input type="text" id="TX_ObjectVisible" style="width:159px;text-align:center;"></td>
					<td><input type="button" value="Toggle" style="width:55px;" onClick="setObjectProperties('visible')"></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><input type="text" id="TX_ObjectDescription" style="width:159px;text-align:center;"></td>
					<td><input type="button" value="Set" style="width:55px;" onClick="setObjectProperties('description')"></td>
				</tr>
				<tr>
					<td>Type</td>
					<td colspan='2'><input type="text" id="TX_ObjectType" style="width:218px;text-align:center;" readonly></td>
				</tr>
				<tr>
					<td>Center</td>
					<td colspan='2'>
						<ul class="UL_ObjectSubProperties">
							<li>X <input type="text" id="TX_ObjectCenterX" style="width:204px;text-align:center;" readonly></li>
							<li>Y <input type="text" id="TX_ObjectCenterY" style="width:205px;text-align:center;" readonly></li>
							<li>Z <input type="text" id="TX_ObjectCenterZ" style="width:204px;text-align:center;" readonly></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Visible<br/>Range</td>
					<td>
						<ul class="UL_ObjectSubProperties">
							<li>Set <input type="text" id="TX_RangeValueActivate" style="width:134px;text-align:center;" readonly></li>
							<li>Min <input type="text" id="TX_RangeValueMin" style="width:129px;text-align:center;"></li>
							<li>Max <input type="text" id="TX_RangeValueMax" style="width:127px;text-align:center;"></li>
						</ul>
					</td>
					<td><input type="button" value="Set" style="width:55px;height:63px;" onClick="setObjectProperties('visibleRange')"></td>
				</tr>
				<tr>
					<td>Font Name</td>
					<td colspan='2'><input type="text" id="TX_ObjectFontName" style="width:218px;text-align:center;" readonly></td>
				</tr>
				<tr>
					<td>Font Size</td>
					<td colspan='2'><input type="text" id="TX_ObjectFontSize" style="width:218px;text-align:center;" readonly></td>
				</tr>
				<tr>
					<td>Font Weight</td>
					<td colspan='2'><input type="text" id="TX_ObjectFontWeight" style="width:218px;text-align:center;" readonly></td>
				</tr>
				<tr>
					<th>Font Color</th>
					<th colspan='2'>
						ARGB(
						<input type="text" class="TX_Color" id="TX_ObjectFontColorA" readonly>,
						<input type="text" class="TX_Color" id="TX_ObjectFontColorR" readonly>,
						<input type="text" class="TX_Color" id="TX_ObjectFontColorG" readonly>,
						<input type="text" class="TX_Color" id="TX_ObjectFontColorB" readonly>)
					</th>
				</tr>
				<tr>
					<th>Font OutLine Color
					</th>
					<th colspan='2'>
						ARGB(
						<input type="text" class="TX_Color" id="TX_ObjectFontLineColorA" readonly>,
						<input type="text" class="TX_Color" id="TX_ObjectFontLineColorR" readonly>,
						<input type="text" class="TX_Color" id="TX_ObjectFontLineColorG" readonly>,
						<input type="text" class="TX_Color" id="TX_ObjectFontLineColorB" readonly>)
					</th>
				</tr>
			</table>
		</div>
	
	<!-- polygon 상세정보 -->
	<div id="polygon-properties" onmouseover="Module.XDIsMouseOverDiv(true);" onmouseout="Module.XDIsMouseOverDiv(false);">
		<table>
				<tr>
					<td>Key</td>
					<td colspan="2"><input type="text" id="PG_ObjectKey" style="width:218px;text-align:center;"></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" id="PG_ObjectName" style="width:159px;text-align:center;"></td>
				</tr>
		</table>
	
	</div>
	
	<!-- 검색 -->
	<div id="search-wrap">
		<input type="search" id="searchKeyword" value="" placeholder="주소를 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2">
		<label for="searchKeyword"></label>
		<button type="button" onclick="searchAddress(1);">검색</button>
		
		<div >
			<table id="searched_tb"></table>
			<ul id="pagingul"></ul>
		</div>
	</div><!--search-wrap-->
	
	<div id="searched_properties">
		<table>
			<tr>
				<th>id</th>
				<td id="s_id"></td>
			</tr>
			<tr>
				<th>장소명</th>
				<td id="s_title"></td>
			</tr>
			<tr>
				<th>카테고리</th>
				<td id="s_category"></td>
			</tr>
			<tr>
				<th>도로명주소</th>
				<td id="s_addr_road"></td>
			</tr>
			<tr>
				<th>지번주소</th>
				<td id="s_addr_lot"></td>
			</tr>
			<tr>
				<th>경도</th>
				<td id="s_x"></td>
			</tr>
			<tr>
				<th>위도</th>
				<td id="s_y"></td>
			</tr>
		</table>
		<button type="button" onclick="$('#searched_properties').hide()">닫기</button>
	</div>

	<!-- jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
	<script>
		var initScript = document.createElement('script');
		initScript.src = "./js/init.js";
		document.body.appendChild(initScript);
		
		function searchAddress(currentPage){
			var keyword = document.getElementById("searchKeyword").value;
			
	 		$.ajax({
			url: "/search",
			type: "POST",
			data: {keyword: keyword, currentPage: currentPage},
			success: function(data, status, xhr){
				console.log("데이터 가져오기 성공!");
				
				//리스트 비우기
				$("#searched_tb").empty();

				var rs = JSON.parse(data);
				console.log(rs.response);
				
				let totalData = rs.response.record.total;
				console.log("totalData:"+totalData);
				paging(totalData, 1);
				
				let trHtml = '';
				
				if(rs.response.status == 'OK'){
					//tr에 id부여하고 data-title이런식으로 데이터넣기. poi객체클릭시 $(#id)로 불러오기
					trHtml += `<tr>
									<th>id</th>
									<th>title</th>
									<th>category</th>
								</tr>`;
									
					for(let i=0; i<10; i++){
						console.log(i+"id:"+rs.response.result.items[i].id);
				
						let id = rs.response.result.items[i].id;
						let title = rs.response.result.items[i].title;
						let category = rs.response.result.items[i].category;
						let addr_road = rs.response.result.items[i].address.road;
						let addr_lot = rs.response.result.items[i].address.parcel;
						let x = Number(rs.response.result.items[i].point.x);
						let y = Number(rs.response.result.items[i].point.y);
						
						trHtml += '<tr>';
						trHtml += '<td>'+id+'</td>';
						trHtml += `<td><a href='javascript:void(0);' onclick="selectOneAddr('${id}','${title}','${category}','${addr_road}','${addr_lot}',${x},${y})";> ${title} <a/></td>`;
						trHtml += `<td> ${category} </td>`;
						trHtml += '</tr>'
						
						createSearchedPoi(id, x, y, title);
					}//for문
					
					$('#searched_tb').append(trHtml);
					selectSearchedPoi();
					
				} else{
					trHtml = '조회된 정보가 없습니다.';
					$('#searched_tb').append(trHtml);
					
				}//if else문//
			},//success//
			error: function(xhr, status, error){
				console.log("데이터 가져오기 실패!!!");
			}
		})//ajax//
		}//searchAddress()//
		
		
		function paging(totalData, currentPage){
			let dataPerPage = 10; //한 페이지에 나타낼 글 수
			let pageCount = 10; //페이징에 나타낼 페이지 수
			let globalCurrentPage=1; //현재 페이지
			
			totalPage = Math.ceil(totalData / dataPerPage); //총 페이지 수
			
			if(totalPage<pageCount){
    		pageCount=totalPage;
  			}
  			
  			let pageGroup = Math.ceil(currentPage / pageCount); // 페이지 그룹
		  	let last = pageGroup * pageCount; //화면에 보여질 마지막 페이지 번호
		  
		  	if (last > totalPage) {
		    last = totalPage;
		  	}
		  	
		  	let first = last - (pageCount - 1); //화면에 보여질 첫번째 페이지 번호
		  
		  	let next = last + 1;
		  	let prev = first - 1;
		
		  	let pageHtml = "";
		
		  	if (prev > 0) {
		    	pageHtml += "<li><a href='#' id='prev'> 이전 </a></li>";
		  	}
		
			 //페이징 번호 표시 
			  for (var i = first; i <= last; i++) {
			    if (currentPage == i) {
			      pageHtml +=
			        "<li class='on'><a href='#' id='" + i + "'>" + i + "</a></li>";
			    } else {
			      pageHtml += "<li><a href='#' id='" + i + "'>" + i + "</a></li>";
			    }
			  }
		
			  if (last < totalPage) {
			    pageHtml += "<li><a href='#' id='next'> 다음 </a></li>";
			  }
			
			  $("#pagingul").html(pageHtml);
			  let displayCount = "";
			  displayCount = "현재 1 - " + totalPage + " 페이지 / " + totalData + "건";
			  $("#displayCount").text(displayCount);
		
		
			  //페이징 번호 클릭 이벤트 
			  $("#pagingul li a").click(function () {
				  
			    let $id = $(this).attr("id");
			    selectedPage = $(this).text();
			    searchAddress(selectedPage); 
			
			    if ($id == "next") selectedPage = next;
			    if ($id == "prev") selectedPage = prev;
			    
			    //전역변수에 선택한 페이지 번호를 담는다...
			    globalCurrentPage = selectedPage;
			    //페이징 표시 재호출
			    //paging(totalData,selectedPage);
			    //글 목록 표시 재호출
			    //displayData(selectedPage, dataPerPage);
			  });
		  	
		  	
		  	
		}//paging//
		
		
		//리스트 클릭 시 이동, 상세정보
		function selectOneAddr(id,title,category,road,lot,x,y){
			 // 카메라 위치 설정
			Module.getViewCamera().setLocation(new Module.JSVector3D(x, y, 500.0)); //(Longitude경도, Latitude위도, Altitude고도)
			//카메라 화각 설정
			Module.getViewCamera().setFov(90);
			
			$('#s_id').text(id);
			$('#s_title').html(title);
			$('#s_category').text(category);
			$('#s_addr_road').text(road);
			$('#s_addr_lot').text(lot);
			$('#s_x').text(x);
			$('#s_y').text(y);
			
			$('#searched_properties').show();
		}

		
		//검색한 point 객체 추가
		function createSearchedPoi(id, x, y, title){
			
			// POI 오브젝트를 추가 할 레이어 생성
			var layerList = new Module.JSLayerList(true);
			var layer = layerList.createLayer("SEARCHED_POI", Module.ELT_3DPOINT);
			
			// Text & image POI
			var img = new Image();
			img.onload = function() {
		
				// 이미지 로드 후 캔버스에 그리기
				var canvas = document.createElement('canvas');
				var ctx = canvas.getContext('2d');
				canvas.width = img.width;
				canvas.height = img.height;
				ctx.drawImage(img, 0, 0);
				
				// 이미지 POI 생성
				var poi_with_text_n_image = Module.createPoint(id);
				poi_with_text_n_image.setPosition(new Module.JSVector3D(x, y, 10.0));//딱붙는 함수 찾아내기
				poi_with_text_n_image.setImage(ctx.getImageData(0, 0, this.width, this.height).data, this.width, this.height);
				
				// 텍스트 설정
				poi_with_text_n_image.setText(title);
				poi_with_text_n_image.setFontStyle("Sans-serif", 12, 700, new Module.JSColor(0, 207, 255), new Module.JSColor(0, 0, 0)); //(name, size, weight, fill_color, outline_color) 
				
				this.layer.addObject(poi_with_text_n_image, 0);
		    };
		    img.layer = layer;
		    img.src = "./data/poisearch.png"
			
		}//createSearchedPoi
		
		function selectSearchedPoi(){
			//마우스모드 포인트 선택 모드로 변경
			Module.XDSetMouseState(6);
			//poi 클릭시 이벤트
			Module.canvas.addEventListener("Fire_EventSelectedObject", function(e){
			console.log("객체 클릭!this.id:"+this.id);
			});
		}//selectSearchedPoi()
		
		
		
		
		//			var params = {
//						 service : "search"
//						,request : "search"
//						,version : "2.0"
//						,crs : "EPSG:4326"
//						,size : 10
//						,page : 1
//						,query : $.trim($("#searchKeyword").val())
//						,type : "place"
//						,format : "json"
//						,errorformat : "json"
//						,key : "DD524C3D-6343-312F-941A-000185A9D92B"
//					}
			
// 			// data으로 Parameter 전송
// 			var Parms  = '?mode=login';
// 			Parms += '&code=' + code;
// 			Parms += '&uid=' + uid;
// 			Parms += '&pass=' + pass;

 	</script>
	
</body>
</html>
